{% extends "templates/base.html" %}
{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Application for Employment</title>
</head>

<body>
    <div class="container">
        <form id="employment_form" method="post" style="padding: 50px;">
            <div class="form-section active" id="tab-0">
                <div class="row" style="width: 31%;">
                    <div class="column">
                        <label for="position_applied_for">Position Applied For:</label>
                        <div class="col-14">
                            <select class="form-control" id="job_title" name="job_title"
                                style="height: 30px; font-size:13px; width:96%; background-color: #f7f7f7;">
                                <option value="{{ job_opening.name }}">{{ job_opening.job_title }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <label for="applicant-name">Applicant Name</label>
                        <input type="text" id="applicant_name" name="applicant_name" required>
                    </div>
                    <div class="column">
                        <label for="phone-number">Phone Number</label>
                        <input type="text" id="phone_number" name="phone_number">
                    </div>
                    <div class="column">
                        <label for="email">Email ID</label>
                        <input type="email" id="email_id" name="email" required>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <label for="experience">Experience</label>
                        <input type="number" id="min_experience" name="experience" step="0" min="0">
                    </div>
                    <div class="column">
                        <label for="education">Educational Qualification</label>
                        {% set qualifications = frappe.get_all('Educational Qualification', fields=['name',
                        'qualification']) %}
                        <div class="col-14">
                            <select class="form-control" id="min_education_qual" name="education"
                                style="height:30px; width: 90%; font-size:13px; background-color: #f7f7f7;">
                                <option value="">Select Educational Qualification</option>
                                {% for qualification in qualifications %}
                                <option value="{{ qualification.name }}">{{ qualification.qualification }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="column">
                        <label for="location">Location</label>
                        {% set locations = frappe.get_all('Location', fields=['name', 'location_name']) %}
                        <div class="col-14">
                            <select class="form-control" id="location" name="location"
                                style="height:30px; width: 90%; font-size:13px;background-color: #f7f7f7;">
                                <option value="">Select Location</option>
                                {% for location in locations %}
                                <option value="{{ location.name }}">{{ location.location_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <label for="skills">Skill Proficiency</label>
                    <table id="skills">
                        <thead>
                            <tr>
                                <th class="idx-col">No</th>
                                <th>Language</th>
                                <th>Rating</th>
                                <th class="delete-column"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="idx-col">1</td>
                                <td>
                                    <select name="skill" class="form-control tab-select">
                                        <option value="">Select Skill</option>
                                        {% for skill in skills %}
                                        <option value="{{ skill.name }}">{{ skill.skill_name }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                                <td>
                                    <div class="star-rating">
                                        <input type="radio" id="rating-5" name="rating" value="1"><label
                                            for="rating-5">&#9733;</label>
                                        <input type="radio" id="rating-4" name="rating" value="0.8"><label
                                            for="rating-4">&#9733;</label>
                                        <input type="radio" id="rating-3" name="rating" value="0.6"><label
                                            for="rating-3">&#9733;</label>
                                        <input type="radio" id="rating-2" name="rating" value="0.4"><label
                                            for="rating-2">&#9733;</label>
                                        <input type="radio" id="rating-1" name="rating" value="0.2"><label
                                            for="rating-1">&#9733;</label>
                                    </div>
                                </td>
                                <td class="delete-column">
                                    &nbsp;&nbsp;<button type="button" class="delete-row-btn"
                                        onclick="deleteRow(this)">Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="add-buttons">
                        <button type="button" id="add-skills-row">Add Row</button>
                    </div>
                </div>

                <div class="row">
                    <div class="file-input-container">
                        <label for="resume_attachment" class="placeholder">
                            Click to upload Resume
                        </label>
                        <input type="file" id="resume_attachment" name="file">
                    </div>
                </div>
                <div class="row" style="text-align: center;">
                    <div class="column">
                        <button type="submit" class="submit-button">Submit Application</button>
                    </div>
                </div>
            </div>
        </form>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="https://kit.fontawesome.com/5ea815c1d0.js"></script>
        <script>
            document.getElementById('add-skills-row').addEventListener('click', function () {
                add_skills_row();
            });
            function add_skills_row() {
                var table = document.getElementById('skills').getElementsByTagName('tbody')[0];
                var rowCount = table.rows.length;
                var row = table.insertRow(rowCount);

                // Insert cells and their contents
                var cell1 = row.insertCell(0);
                var cell2 = row.insertCell(1);
                var cell3 = row.insertCell(2);
                var cell4 = row.insertCell(3);

                // Add content to cells
                cell1.innerHTML = rowCount + 1;
                cell1.className = "idx-col"
                cell2.innerHTML = '<select name="language" class="form-control tab-select"> <option value="">Select Skill</option> {% for skill in skills %} <option value="{{ skill.name }}">{{ skill.skill_name }}</option> {% endfor %} </select>';
                cell3.innerHTML = get_star_rating_html('rating' + (rowCount + 1));
                cell4.innerHTML = '&nbsp;&nbsp;<button type="button" class="delete-row-btn" onclick="deleteRow(this)">Delete</button>'
                cell4.className = "delete-column"
            }

            function get_star_rating_html(name) {
                return `
                    <div class="star-rating">
                        <input type="radio" id="${name}_star5" name="${name}" value="1"><label for="${name}_star5">&#9733;</label>
                        <input type="radio" id="${name}_star4" name="${name}" value="0.8"><label for="${name}_star4">&#9733;</label>
                        <input type="radio" id="${name}_star3" name="${name}" value="0.6"><label for="${name}_star3">&#9733;</label>
                        <input type="radio" id="${name}_star2" name="${name}" value="0.4"><label for="${name}_star2">&#9733;</label>
                        <input type="radio" id="${name}_star1" name="${name}" value="0.2"><label for="${name}_star1">&#9733;</label>
                    </div>
                `;
            }
        </script>
</body>

</html>
{%- endblock -%}