body {
    background-color: #f0f8ff21;
}

.job-interest-container {
    margin-bottom: 20px;
    border: 0;
    border-radius: 10px;
    box-shadow: 0px 10px 20px #c2c2c229, 0px 0px 30px #aaaaaa29;
}

.card-grid {
    margin: 0;
}

.card-grid-items {
    min-width: 420px;
    display: flex;
    justify-content: center;
}

.container {
    padding: 0 10px;
}

.card-title {
    margin: 0;
    font-size: larger;
    font-weight: 700;
}

.card-title-location {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.location {
    text-align: right;
}

.card {
    border-radius: 10px;
    filter: drop-shadow(0 5px 10px 0 #ffffff);
    width: 400px;
    height: 180px;
    background-color: #CDF5FD26;
    position: relative;
    z-index: 0;
    overflow: hidden;
    transition: 0.6s ease-in;
}

.card-body {
    padding: 8px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
}

.card-text {
    margin: 0;
}

.card p {
    margin: 0;
    padding-right: 8px;
}

.date-and-button {
    flex-wrap: wrap;
    justify-content: space-between;
}

.details-button {
    padding-left: 5px;
}

.card::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -15px;
    right: -15px;
    background: #edfbff;
    height: 220px;
    width: 25px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.25s ease-out;
}

.card:hover::before {
    transition-delay: 0.2s;

    transform: scale(40);
}

.card:hover {
    color: #000000;

}

#jobFilterForm {
    padding: 0 2rem;
}

h3 {
    padding: 0 1rem;
}