{% extends "templates/base.html" %}

{%- block content -%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<div style="padding-left:25px; padding-top:10px;">
    <a href="/job_portal" style="color: blue; text-decoration: none; display: flex; align-items: center;">
        <div style="width: 50px; height: 25px; display: flex; justify-content: center; align-items: center;">
            <i class="fas fa-arrow-left" style="color: black; font-size: 24px;"></i>
        </div>
    </a>
</div>
<div class="container-outer">
    <div class="container job-details-container" style="width:75%">
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex justify-content-between align-items-center">
                    <h4 style="color: black; flex: 1; margin: auto;margin-bottom: 20px;">{{ job.job_title }}</h4>
                    <div class="apply-button">
                        <button class="btn" id="applyBtn">Apply Now</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p><i class="fas fa-briefcase"></i> Job ID: <span style="color: red;">{{ job.name }}</span></p>
                <p><i class="fas fa-map-marker-alt"></i> Location: {{ job.location or 'Not Specified' }} </p>
                <p><i class="fas fa-briefcase"></i> Employment type: {{ job.employment_type or 'Not Specified' }} </p>
                {%- if job.posted_on -%}
                <p><i class="far fa-calendar-alt"></i> Published date: {{ job.get_formatted("posted_on") }} </p>
                {%- endif -%}
                {%- if job.closes_on -%}
                <p><i class="fas fa-calendar-day"></i> Last date to apply: {{ job.get_formatted("closes_on")}} </p>
                {%- endif -%}
            </div>
            <div class="col-md-6">
                <p><i class="fas fa-graduation-cap"></i> Qualification: {{ education_qualification or 'Not
                    Specified' }}
                </p>
                <p><i class="fas fa-user-tie"></i>
                    Minimum Experience Required:
                    {% if job.min_experience %}
                    {{ job.min_experience }} Years
                    {% else %}
                    Not Specified
                    {% endif %}
                </p>
                {%- if job.publish_salary_range and salary_range -%}
                <p><i class="fas fa-coins"></i> Salary: {{ salary_range }} </p>
                {%- endif -%}
                {%- if job.publish_applications_received -%}
                <p><i class="fas fa-users"></i> Applications received: {{ no_of_applications}}</p>
                {%- endif -%}
            </div>
        </div>
        <hr>
        <p style="text-align: justify; line-height: 1.7"><i class="fas fa-file-alt"></i> {{ job.description }}</p>
    </div>
</div>
<style>
    /* Custom CSS for styling the container */
    .container-outer {
        padding: 15px 50px 50px 50px;
    }

    .job-details-container {
        border: 1px solid #ccc;
        border-radius: 10px;
        padding: 20px;
        font-size: 18px;
    }

    .apply-button {
        text-align: center;
        margin-top: 20px;
    }

    .btn {
        background-color: green;
        color: white;
        padding: 5px 5px;
        font-size: 14px;
        border: none;
        cursor: pointer;
    }

    .btn:hover {
        background-color: green;
    }

    /* Style for the icons */
    .fas,
    .far {
        margin-right: 5px;
        /* Add spacing to the right of icons */
    }

    p {
        line-height: initial;
        font-size: medium;
    }

    .job-details-container {
        background-color: #CDF5FD26;
        border: 0;
        box-shadow: 0px 10px 20px #c2c2c229,
            0px 0px 30px #aaaaaa29;
    }

    @media (min-width: 768px) {
        .job-details-container {
            width: 75%;
        }
    }
</style>
{%- endblock -%}